.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 10px;
}
.child2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}